html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  color: #a8b2d1;
  background-color: #020c1b;
  overflow-x: hidden;
}

.header {
  z-index: 190;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  padding: 0 50px;
  background: #020c1b;
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  height: 100%;
  color: #AD0CA5;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header__logo > img {
  margin-right: 15px;
  height: 20px;
  width: 20px;
}
.header__nav > ul {
  display: inline;
  list-style-type: none;
}
.header__nav > ul > li {
  font-size: 20px;
  display: inline;
  margin: 0 20px;
}
.header__nav > ul > li > a {
  text-decoration: none;
  color: #AD0CA5;
}
.header i {
  color: #AD0CA5;
  font-size: 40px;
}
.header__nav--button {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.popup__area {
  width: 200px;
  height: 100vh;
  position: fixed;
  z-index: 195;
  background-color: #0a192f;
  box-shadow: -5px 5px 20px black;
  top: 0px;
  right: -200px;
  transition: transform 0.3s;
}
.popup__area > nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup__area > nav > button {
  margin-top: 50px;
  color: #8892b0;
  border: 1px solid;
  padding: 15px;
  background: transparent;
  z-index: 200;
  width: 150px;
  cursor: pointer;
  font-size: 20px;
}
.popup__area > nav > button:hover {
  color: #ff1694;
}
.popup__area > nav > button:hover a {
  color: #ff1694;
}
.popup__area > nav > button a {
  text-decoration: none;
  font-weight: 400;
  color: #8892b0;
}

main {
  padding: 0 150px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}
.hero__text, .hero__text--green, .hero__text--large {
  font-weight: 600;
  margin: 0px;
}
.hero__text--large {
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 600;
}
.hero__text--green {
  margin-bottom: 25px;
  color: #AD0CA5;
}
.hero > h1 {
  color: #e6f1ff;
}
.hero > h2 {
  word-spacing: 10px;
}
.hero > p {
  margin-top: 20px;
  max-width: 540px;
}
.hero > p > span {
  color: #e6f1ff;
}
.hero__button {
  margin-top: 50px;
  color: #AD0CA5;
  border: 1px solid;
  padding: 15px;
  background: transparent;
  z-index: 200;
}

.about {
  padding: 50px 0;
  min-height: 100vh;
}
.about h2 {
  color: #e6f1ff;
}
.about__text {
  max-inline-size: 66ch;
}

.portfolio__area {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.portfolio__area > h2 {
  color: #e6f1ff;
}
.portfolio__control {
  display: flex;
  width: 65vw;
  height: 70px;
  margin: 10px;
}
.portfolio__control > button {
  width: 20%;
  background: transparent;
  color: #AD0CA5;
  border: 1px solid;
}
.portfolio__control > button:hover {
  color: #ff1694;
}
.portfolio__display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 5vw;
}
.portfolio__item {
  text-decoration: none;
  color: #8892b0;
}
.portfolio__item > div {
  box-shadow: 5px 5px 5px black;
  position: relative;
  padding: 20px;
  background: #0a192f;
  height: 400px;
  width: 300px;
  transition: transform 0.3s;
}
.portfolio__item > div:hover {
  transform: translateY(-10px);
}
.portfolio__item > div:hover h5 {
  color: #AD0CA5;
}
.portfolio__item > div > h3 {
  padding-top: 20px;
  color: #e6f1ff;
  margin-bottom: -15px;
}
.portfolio__item > div > h4 {
  position: absolute;
  bottom: 5px;
}
.portfolio__item > div > i {
  position: absolute;
  top: 20px;
  right: 20px;
}
.portfolio__item > div > p {
  margin-top: 20px;
}

.contacts__area {
  padding: 0 10vw;
  height: 35vh;
}
.contacts__area > hr {
  border: 1px solid #8892b0;
}
.contacts__area > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__area > div > h2 {
  color: #e6f1ff;
}

.side_shadow__left {
  background-color: green;
  z-index: 200;
  position: fixed;
  height: 100vh;
  width: 10px;
  top: 0px;
  left: -10px;
  box-shadow: 5px 0px 2vw black;
}

.side_shadow__right {
  z-index: 200;
  position: fixed;
  height: 100vh;
  width: 10px;
  top: 0px;
  right: -10px;
  box-shadow: -5px 0px 2vw black;
}

@media screen and (max-width: 1080px) {
  main {
    padding: 0px 100px;
  }
  .header {
    padding: 0px 50px;
  }
}
@media screen and (max-width: 768px) {
  main {
    padding: 0px 50px;
  }
  .header {
    padding: 0px 25px;
  }
  .portfolio__control {
    width: 90vw;
  }
  .portfolio__display {
    grid-template-columns: 1fr;
    padding-bottom: 100px;
  }
  .about {
    padding: 150px 0;
    padding-bottom: 300px;
  }
}
@media screen and (max-width: 480px) {
  main {
    padding: 0px 25px;
  }
}/*# sourceMappingURL=App.css.map */